<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ml.dvnlabs.animize">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_animize"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_animize_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.registerActivity"
            android:configChanges="orientation|keyboard"
            android:label=""
            android:parentActivityName=".activity.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ml.dvnlabs.animize.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.animplay_activity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:keepScreenOn="true"
            android:label=""
            android:parentActivityName=".activity.dashboard_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ml.dvnlabs.animize.activity.dashboard_activity" />
        </activity>
        <activity
            android:name=".activity.dashboard_activity"
            android:configChanges="orientation|keyboard"
            android:label=""
            android:parentActivityName=".activity.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ml.dvnlabs.animize.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".player.PlayerService" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>